.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 2;
}

.carousel-container{
  margin-top: 60px;
}

.list-container{
  margin-bottom: 60px;
  flex-direction: column;
  .list-content{
    margin-bottom: 0.5rem;
  }
}
