.add-btn{
  margin-top: 0.5rem;
}

.title-content{
  font-weight: 600;
}

.list-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-left: 1rem;
  .list {
    width: 80%;
    .am-list-header{
      padding-top: 10px;
    }
  }
  .time-container{
    width: 5rem;
    height: 76px;
    line-height: 76px;
    text-align: center;
    padding: 0.5rem;
    background-color: #009fff;
    margin-top: 20px;
  }
  .delete-container{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 44px 10px 0;
    box-sizing: border-box;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #009fff;
    display: inline-block;
  }
}
